*{
    box-sizing: border-box;
    font-family: Arial;
}
html, body{
    margin: 0;
    padding: 0;
    /*background: #e30513;*/
    background-image: url("fundo.jpg");
    background-size: 315%;
    max-width: 320px;
    overflow: hidden;
}
header{
    background: #e30513;
    padding: 2% 3%;
    position: relative;
}
header a{
    font-size: 1.8em;
    display: inline-block;
}
header h2{
    text-align: center;
    color: white;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header i{
    color: white;
    font-size: 2em;
}
main p{
    color: white;
    text-align: center;
}
main a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 80%;
}