*{
    box-sizing: border-box;
    font-family: Arial;
}
html, body{
    margin: 0;
    padding: 0;
    /*background: #e30513;*/
    background-image: url("fundo.jpg");
    background-size: cover;
}
main{
    padding: 30% 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main img{
    left: 50%;
    width: 50%;
}
main h1{
    color: white;
    margin: 0 0 35px 0;
    text-align: center;
}
main form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    border-radius: 15px;
    height: 30px;
    left: 50%;
    margin-bottom: 15px;
    padding: 2%;
    width: 80%;
}
form a{
    text-decoration: none;
    align-items: center;
    color: white;
    font-weight: bold;
    /*display: flex;
    justify-content: center;*/
}
.button{
    color: #e30513;
    background: white;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 15px 0 35px 0;
    width: 80%;
}
p{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
p a{
    display: inline-block;
}
